<%= render 'shared/flash', errors: @form&.errors&.full_messages || [] %>

<%= form_with scope: :todo, url: todos_path, method: :post, class: "space-y-4 w-[500px] border-2 border-gray-300 rounded-md p-4 mx-auto" do |f| %>
  <div>
    <%= f.label :title, class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_field :title, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
  </div>
  <div>
    <%= f.label :description, class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_field :description, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
  </div>
  <div>
    <%= f.label :priority, class: "block text-sm font-medium text-gray-700" %>
    <%= f.select :priority, options_for_select(Todos::NewForm.priority.values.map { |priority| [priority.humanize, priority] }), {}, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
  </div>
  <div>
    <%= f.label :status, class: "block text-sm font-medium text-gray-700" %>
    <%= f.select :status, options_for_select(Todos::NewForm.status.values.map { |status| [status.humanize, status] }), {}, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
  </div>
  <%= f.submit "Create", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>
